.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.filter-label {
  font-weight: bolder;
  width: 100%;
}

.filter-men, .filter-women {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}