.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  animation: slideFromLeft 0.4s ease-out;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
}

.filter.slide-out {
  transform: translateX(-10px);
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.filter select {
  width: 100px;
}

.filter-label {
  font-size: 8px;
  font-weight: bolder;
  width: 100%;
}

.filter-men,
.filter-women {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
