.tree {
  width: 100%;
  height: 77%;
  overflow: auto;
}

.member-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 3px;
  border: none;
  border-radius: 5px;
  column-gap: 5px;
  width: 320px;
  height: 27px;
}
.member-card:hover {
  cursor: pointer;
}

.member-wife-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  box-sizing: border-box;
}

.display-pic {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 1px solid lightgrey;
  padding: 1px;
  box-sizing: border-box;
}

.toggle-icons, .mobile-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;  
}

.mobile-icons img {
  width: 100%;
  height: 100%;
}

.edit-member {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: grey; 
}

.member-icons {
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.member-icons img {
  width: 23px;
  height: 23px;
  border: 1px solid lightgrey;
  padding: 1px;
  border-radius: 50%;
  box-sizing: border-box;
}