.edit-member {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-member .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.edit-member .view {
  position: relative;
  font-size: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80dvw;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.edit-member .view input,
.edit-member .view select {
  width: 100%;
  height: 47px;
  background-color: #eee;
}
.edit-member .view input,
.edit-member .view select,
.edit-member .view option {
  font-size: 16px;
}

.edit-member .view button {
  font-size: 14px;
  width: 100%;
  height: 47px;
  background-color: lightskyblue;
}
.edit-member .view input:disabled,
.edit-member .view select:disabled,
.edit-member .view button:disabled {
  color: #aaa;
}

.edit-member .view .dob,
.edit-member .view .dod {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.edit-member .view .dob select:nth-child(1) {
  width: 25%;
}
.edit-member .view .dob select:nth-child(2) {
  width: 40%;
}
.edit-member .view .dob select:nth-child(3) {
  width: 30%;
}
.edit-member .view .dod select:nth-child(1) {
  width: 25%;
}
.edit-member .view .dod select:nth-child(2) {
  width: 40%;
}
.edit-member .view .dod select:nth-child(3) {
  width: 30%;
}

.view .icons {
  border: none;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
