.edit-member {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.edit-member .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.edit-member .view {
  position: relative;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.edit-member .view input, .edit-member .view select {
	width: 100%;
	height: 50px;
	background-color: #eee;
}
.edit-member .view input, .edit-member .view select, .edit-member .view option {
  font-size: 16px;
	box-shadow: 0 0 0 1px lightgrey;
}

.edit-member .view button {
	font-size: 14px;
	width: 100%;
	height: 50px;
	background-color: lightskyblue;
	box-shadow: 0 0 0 1px lightgrey;
}
.edit-member .view input:disabled,
.edit-member .view select:disabled,
.edit-member .view button:disabled {
	color: grey;
	background-color: #edd;
}

.edit-member .view .dob, .edit-member .view .dod {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
}
.edit-member .view .dob select:nth-child(1) {
	width: 25%;
}
.edit-member .view .dob select:nth-child(2) {
	width: 40%;
}
.edit-member .view .dob select:nth-child(3) {
	width: 30%;
}
.edit-member .view .dod select:nth-child(1) {
	width: 25%;
}
.edit-member .view .dod select:nth-child(2) {
	width: 40%;
}
.edit-member .view .dod select:nth-child(3) {
	width: 30%;
}

.view .icons {
	border: none;
	border-radius: 50%;
	width: 13px;
	height: 13px;
}