.signin {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.signin select, .signin input, .signin button {
  width: 200px;
  height: 75px;
  font-size: 16px;
}