.signin {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.signin select, .signin input, .signin button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  box-shadow: 0 0 5px 0 lightgrey;
  background-color: white;
}
.signin button {
  background-color: lightskyblue;
}
.signin button:disabled {
  color: grey;
  background-color: white;
}