.display-users {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(250, 250, 250, 0.95);
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.display-users .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.display-users .view {
  position: relative;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.view table {
	width: 100%;
}
.view table th, .view table td {
	font-size: 14px;
}
.view table td:last-child {
	display: flex;
	justify-content: flex-end;
}

.user-inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 10px;
	align-items: center;
	width: 100%;
}

.display-users .view input, .display-users .view select {
	width: 100%;
	height: 47px;
  font-size: 16px;
	background-color: #eee;
}
.display-users .view option {
	font-size: 16px;
}

.display-users .view button {
	font-size: 14px;
	width: 100%;
	height: 47px;
	background-color: lightskyblue;
}
.display-users .view input:disabled,
.display-users .view select:disabled,
.display-users .view button:disabled {
	color: #aaa;
}

.display-users .view .new-user {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3px;
	box-sizing: border-box;
}

.display-users .view .new-user div {
	font-size: 14px;
	font-weight: bolder;
	text-decoration: underline;
}

.display-users .view .icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  padding: 1px;
  border: 1px outset lightgrey;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 3px grey;
}