* { 
  margin: 0;
  font-size: small;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  text-shadow: 0 0 1px grey;
}

.bgd-image {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  opacity: .05;
  pointer-events: none;
  z-index: 1;
}