.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.toggle-language {
  z-index: 9999;
  width: 45px;
  width: 10%;
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  animation: slideFromRight 0.4s ease-out;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
}

.header.slide-out {
  transform: translateX(10px);
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.header select {
  width: 120px;
}

.header .icons,
.header .signout,
.header .addIcon {
  padding: 1px;
  border: 1px outset lightgrey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 10px grey;
}
