.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .icons, .header .signout, .header .addIcon {
  padding: 1px;
  border: 1px outset lightgrey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  box-sizing: border-box;
}