.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signout, .addIcon {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icons {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}